body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mainz {
  padding-left: 20%;
  width: 80%;
}

.footerz {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}